In [ ]:
pip install geojson

In [ ]:
# โหลดข้อมูล, ไลบรารี
import pandas as pd
import numpy as np

# ข้อมูลดิบ
df_sheet1 = spark.sql("SELECT * FROM Lake3.Sheet1").toPandas()
df_sheet1 = df_sheet1.rename(columns={"ลำดับ": "ลำดับแปลง"})

# ข้อมูลน้ำบาดาลรัฐ
df_ckan_wells2 = spark.sql("SELECT * FROM Lake3.Ckan_wells2").toPandas()
df_ckan_wells2 = df_ckan_wells2.sort_values(by='LATITUDE', ascending=False)
df_ckan_wells2.drop(df_ckan_wells2.tail(1).index,inplace=True) # drop last row เพราะเป็นค่าว่าง
df_ckan_wells2['Index'] = range(1, len(df_ckan_wells2) + 1)